<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Cypher Cossack{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('frontend.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('frontend.static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li class="dropdown">
        <a href="/">Home</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            Ciphers
            <b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
          <!-- links -->
          <li><a href="#">RC4</a></li>
          <li><a href="#">TEA (Coming soon)</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">API</a>
      </li>
      <li class="dropdown">
        <a href="#">About</a>
      </li>
    </ul>

    <div class="span_main">
    {% block page_body %}
    {% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('frontend.static', filename='js/bootstrap.min.js') }}"></script>
  </body>
{% block scripts %}{% endblock %}
</html>
